<h1>Merhaba denemesi</h1>
<%= 5*10 %> <br>
<% mesaj='Ruby On rails ogreniyoruz' %>
<%= "#{mesaj}" %>
<% 3.times do |n|%>
<br><%= n %>
<% end %>

<% @sehirler.each do |sehir|%>
<br><%= sehir %>
<% end %> <br>
<b>id:</b><%= @id%><br>
<b>sayfa:</b><%= @sayfa%><br>
